{% extends 'explore_base.html' %} 
{% load static %} 
{%block analysis%}Depression
{%endblock analysis%}

{%block action%}
<form class="d-flex mx-auto" method="post" action="/explore-tweets/depression" role="search">
{%endblock action%}

{%block dashboard%}
<div class="mx-1 my-2 w-100 d-flex justify-content-between">
    {% if tweet.label == 'negative' %}
        <p class="res-text text-danger">☹️ Severe</p>
    {% elif tweet.label == 'positive' %}
        <p class="res-text text-success" >😍 Not Depression</p>
    {% else %}
        <p class="res-text text-warning">😐 Moderate</p>
    {% endif %}                            <p class="res-text">{{tweet.score}}%</p>
    </div>
{%endblock dashboard%}
{%block diagnostics%}
<h5 class="text-center">Diagnostics ❤️</h5>
<div class="metric">Depression-Threat: ({{metric}}%) </div>
{%endblock diagnostics%}
