{% extends 'explore_base.html' %} 
{% load static %} 
{%block analysis%}Spam
{%endblock analysis%}

{%block action%}
<form class="d-flex mx-auto" method="post" action="/explore-tweets/spam" role="search">
{%endblock action%}

{%block dashboard%}
<div class="mx-1 my-2 w-100 d-flex justify-content-between">
    {% if tweet.label == 'hate' %}
        <p class="res-text text-danger">☹️ Spam</p>
    {% else%}
        <p class="res-text text-success" >😍Not Spam</p>
    {% endif %}                            <p class="res-text">{{tweet.score}}%</p>
</div>
{%endblock dashboard%}
{%block diagnostics%}
<h5 class="text-center">Diagnostics ❤️</h5>
<div class="metric">Spam Probability: ({{metric}}%) </div>
{%endblock diagnostics%}

