{% extends 'base.html' %} 
{% load static %} 

{% block title %}TwiSight{% endblock title %}  

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
{% endblock stylesheet %}

{% block body %}
<div class="d-grid my-auto d-grid cont">
    <div class="d-flex justify-content-center overflow-hidden logo">
        <iframe src="https://lottie.host/embed/c3d4d23e-7af5-4a7a-a33c-ca72750939db/nT4wJ228DW.json" style="border: none;
        "></iframe>
    </div>
    <div class="d-flex flex-column text-center justify-content-center tags">
        <div class="d-flex flex-column justify-content-evenly flex-column text-dark text-center h-50 w-75 Tagline mx-auto background-color: blue">
            <p class="my-5">Capturing the Pulse of Tweets</p>
        </div>
        <div class="d-flex flex-column text-center justify-content-center tags">
            <h5 class="">Experience the Art of Analyzing Twitter Emotions with TwiSight.</h5>
            <a href="explore-tweets/sentiment" class="btn btn-primary mx-auto my-5">Explore More</a>
        </div>  
    </div>
</div>
{% endblock body %} 