{% extends 'base.html' %} 
{% load static %} 

{% block title %}TwiSight{% endblock title %}  

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="../static/css/tweets.css">
{% endblock stylesheet %}

{% block body %}
<div class="dashboard glass-container d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center flex-column text-center pb-3">
    <h3>Tweet Dashboard</h3>
    </div>
    <div class="d-flex justify-content-center flex-row">
        <div class="tweet-box d-flex justify-content-center flex-column">
            <div class="tweet">Dive into the Future of TV: IPTV Unleashed! 🌟🔗 #StreamSmart #IPTV #TrumpIndictment #Orwell #InBloom1stWin #SkylosFairLaunch #Brock </div>
            <div class="tweet">Just had a thought about crypto investment strategies. Let's chat about Pointing out a typo:Uncovering exploring the depths of subway. #TrumpIndictment </div>
            <div class="tweet">Tweet 3: This is the content of tweet </div>
            <div class="tweet">Tweet 4: This is the content of tweet </div>
            <div class="tweet">Tweet 5: This is the content of tweet </div>
        </div>
        <div class="health-box d-flex justify-content-center flex-column px-2">
            <h5 class="text-center">Diagnostics ❤️</h5>
            <div class="metric">Sentiment: Positive (93.8%) </div>
            <div class="metric">Toxicity: Not Toxic (23.4%%) </div>
            <div class="metric">Bot/Spam: Spam Comments present (88%%) </div>
        </div>
    </div>
</div>
{% endblock body %} 